html {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.06;
  letter-spacing: normal;
  text-transform: uppercase;
}

.breadcrumbs-container {
  margin: 60px auto;
  width: 1050px;
  height: 100px;
  border: 1px solid darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-container {
  height: 51%;
  width: 95%;
  display: flex;
}

.breadcrumb {
  background-color: #e6e6e5;
  border: 1px solid #f8f8f8;
  flex-basis: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.breadcrumb.completed {
  background-color: #2aa6b9;
}

.breadcrumb > p {
  color: #393d41;
}

.breadcrumb.completed > p {
  color: #ffffff;
}

.breadcrumb:nth-last-child(n + 2)::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0%;
  bottom: 0%;
  border-left: 15px solid #f8f8f8;
  border-top: 24px solid transparent;
  border-bottom: 24px solid transparent;
  z-index: 10;
}
/* right-facing arrow after all breadcrumbs except last */

.breadcrumb.completed::after {
  border-left: 15px solid #2aa6b9;
}
